<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../views/Template/head'); %>
</head>
<body class="d-flex h-100 text-center text-white bg-white">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../views/Template/header'); %>
        <main class="px-3">
        <div class="container px-4 py-5" id="custom-cards">

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-muted">
                <h1 class="text-center "> Sig up </h1>
                <hr>
                <form action="/CreateUser" method="post">
                <div class="row">
                  <div class="col">
                          <div class="input-group mb-3">
                            <span class="input-group-text">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg>
                            </span>

                            <input type="text" class="form-control" id=userName name="username" placeholder="Username"
                                  aria-label="Username" aria-describedby="basic-addon1" maxlength="8" required>
                          </div>

                          <br>
                          <div class="form-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                                    <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                                    <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/>
                                  </svg></span>
                              <input type="text" class="form-control" id=psw name="password"placeholder="password"
                                    maxlength="8" required>
                            </div>
                            <div class="progress" style="height:4px;">
                              <div id=securBar class="progress-bar" role="progressbar"
                                    aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <br>
                          <div class="input-group mb-3">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                                  <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                                  <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/>
                                </svg></span>
                            <input type="text" class="form-control" id=pswConf name="pswChecker"placeholder="conform password"
                                  maxlength="8" required disabled>
                          </div>
                          <br>
                          <div class="input-group mb-3">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                </svg></span>
                            <input type="text" class="form-control" id=mail name="mail" placeholder="insert valid email"
                                  required autocomplete="on">
                          </div>
                  </div>
                  <div class="col">
                      <img src="/Image/SignUp.webp" class="img-thumbnail" alt="...">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">+39</span>
                        <input type="text" class="form-control" id=phone name="phone" placeholder="phone number"
                              aria-label="phone" aria-describedby="basic-addon1" maxlength="12" required>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <hr>
                  <div class="col-3"></div>
                  <div class="col-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id=termCondition name="termCondition">
                      <label class="form-check-label" for="flexCheckChecked">
                        Accept termo of conditions
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id=Data name="dataCondition">
                      <label class="form-check-label" for="flexCheckChecked">
                        Accept use personl data
                      </label>
                    </div>
                  </div>
                  <div class="col-6"></div>
                  <hr>
                </div>
                <div class="row">
                  <div class="col"></div>
                  <div class="col-sm-au col-md-auto col-lg-4">
                    <a href="/home"  class="btn btn-secondary" rore="button" >Close</a>
                    <button id=Submit type="submit" class="btn btn-primary" disabled>Sign Up</button>
                  </div>
                  <div class="col"></div>
                </div>
            </form>
            </div>
            <div class="col-2"></div>
        </div>
        </div>
    </main>
    <%- include('../views/Template/footer'); %>
    </div>

</body>
</html>



<script>
/****GESTIONE PASSWORD ****/
$(document).ready(()=>{
  psw = document.getElementById('psw');
  psw.addEventListener('input',checkSec);
});


function checkSec(){  // funzione che valuta la sicurezza della password
    let scr = score($('#psw').val());
    $('#securBar').attr('style','width:'+scr+'%;');

    var thr = 75;
    if(scr > thr) enableForm(true);
    else enableForm(false);
  }

function score(str){
  var c = ['?','^','/','*','.','-','(',')','{','}'];
  var score = 0;
  for(let i = 0; i < str.length; i++){
      let l =str.charAt(i);
      if(l==c[0] | l==c[1] | l==c[2] | l==c[3]) score += 25;
      else score+=10;
    }
  return score;
}

function enableForm(flag){
  if(flag){
    $('#pswConf').prop( "disabled", false);
    $('#Submit').prop( "disabled", false);
  }
  else{
    $('#pswConf').prop( "disabled", true);
    $('#Submit').prop( "disabled", true);
  }

}
</script>
